.image-fun-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.capydeface{
    width: 400px;
    transition: 5s;
}

.capydeface:hover{
    rotate: (50040deg);
    width: 100%;
}

.image-box{
    display: flex;
    justify-content: center;
    opacity: 0;
}

.image-box:hover{
    opacity: 1;
}
.border-box{
    border: solid;
}
.border-box:hover{
    border: none;
}